<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>泓牛供应链</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/blog/clean-blog.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<body>
	<div class="container">
		欢迎=><a href="/login">登陆</a>
	</div>
</html>
